.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}


.card > input {
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    padding-left: 10px;
}

.card > button {
    background-color: rgb(53, 53, 195);
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    color: white;
    border: none;
}